<ng-container *ngIf="goLoginAPI$ | async as goLoginAPI">
  <nz-table #goLoginApiTable nzSize="small" [nzData]="goLoginAPI.data" nzShowPagination="true" [nzTotal]="total" (nzPageIndexChange)="changePage($event)" [nzPageIndex]="pageIndex + 1" [nzPageSize]="pageSize" nzFrontPagination="false">
    <thead>
    <tr>

      <th>Thời gian khởi tạo</th>
      <th>API KEY</th>
      <th>Proxy</th>
      <th>Disabled</th>
      <th>Xử lý</th>
    </tr>
    <tr>
      <th colspan="5" class="center-align">
        <button nz-button nzType="primary" (click)="create()"  nz-tooltip nzTooltipTitle="Tạo API KEY">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of goLoginApiTable.data">
      <td>{{data.createdAt | date:'dd/MM/yyyy'}}</td>
      <td>{{data.API_KEY}}</td>
      <td>{{data.proxy}}</td>
      <td>
        <nz-switch nzDisabled="true" [ngModel]="data.disabled" (ngModelChange)="changeDisabled(data, !data.disabled)"></nz-switch>
      </td>
      <td class="btn-float">
        <button nz-button nzType="primary" (click)="edit(data)" nz-tooltip nzTooltipTitle="Cập nhật API KEY">
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </button>
        <button nz-button nzDanger nzType="primary" nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this task?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="delete(data)" nz-tooltip nzTooltipTitle="Xoá API KEY">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>

</ng-container>
