<div class="mb-2">
  <app-user-domain-filter [domainInput]="false" (filter)="filterData($event)"></app-user-domain-filter>
</div>
<ng-container *ngIf="author$ | async as authorData">

  <nz-table #authorTable nzSize="small" [nzData]="authorData.data" nzShowPagination="true" [nzTotal]="authorData.count" (nzPageIndexChange)="changePage($event)" [nzPageIndex]="pageIndex + 1" [nzPageSize]="pageSize" nzFrontPagination="false">
    <thead>
    <tr>

      <th>Thời gian khởi tạo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>User</th>
      <th>Xử lý</th>
    </tr>
    <tr>
      <th colspan="6" class="center-align">
        <button nz-button nzType="primary" (click)="create()"  nz-tooltip nzTooltipTitle="Tạo author">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </th>
    </thead>
    <tbody>
    <tr *ngFor="let data of authorTable.data">
      <td>{{data.createdAt | date:'dd/MM/yyyy'}}</td>
      <td>{{data.name}}</td>
      <td>{{data.description}}</td>
      <td><a target="_blank" *ngIf="data.url" href="{{data.url}}">{{data.url}}</a></td>
      <td>{{data.user?.fullName}}</td>
      <td>
        <button nz-button nzType="primary" nzSize="small" (click)="edit(data)">Sửa</button>
      </td>
    </tr>
    </tbody>
  </nz-table>

</ng-container>
