<ng-container *ngIf="userTransaction$ | async as userTransactionData">
  <nz-table #userTable nzSize="small" [nzData]="userTransactionData.data" nzShowPagination="true" [nzTotal]="total" (nzPageIndexChange)="changePage($event)" [nzPageIndex]="pageIndex + 1" [nzPageSize]="pageSize" nzFrontPagination="false">
    <thead>
    <tr>

      <!--      <th>ID</th>-->
      <th>Ngày khởi tạo</th>
      <th>Số tiền</th>
      <th>Loại giao dịch</th>
      <th>Số tiền sau giao dịch</th>
      <th>Ghi chú</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userTable.data">
      <!--      <td>{{ data.id }}</td>-->
      <td>{{ data.createdAt | date:"short" }}</td>

      <td>{{ data.amount | number:"1.0-2" }}</td>
      <td>{{ data.transactionType }}</td>
      <td>{{ data.afterBalance | number:'1.0-2' }}</td>
      <td>{{ data.description }}</td>
    </tr>
    </tbody>
  </nz-table>

</ng-container>
