<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="/assets/logo.png" alt="logo">
        <h1>PAGES</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-submenu nzOpen nzTitle="Nội dung trang" nzIcon="ordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/news']">
              Tin tức
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/news-category']">
              Danh mục tin tức
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/page']">
              Trang
            </a>
          </li>


          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/video']">
              Video
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/author']">
              Author
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/publisher']">
              Publisher
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/menu']">
              Menu
            </a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Giao diện" nzIcon="file-image">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/domain-template']">
              Cấu hình domain
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/template-data']">
              Cấu hình giao diện
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/template']">
              Danh sách giao diện
            </a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Quản lý tài khoản" nzIcon="usergroup-add">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/admin']">
              Tài khoản Admin
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/user']">
              Tài khoản người dùng
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/domain']">
              Tên miền
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<!--<router-outlet></router-outlet>-->
