<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <app-amount-input [(formErrorMsg)]="formErrorMsg" [validators]="validators" [defaultValue]="defaultValue" [formErrors]="formErrors" [formGroup]="validateForm"></app-amount-input>


  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="12" [nzOffset]="8">
      <button [disabled]="!validateForm.valid" nz-button nzType="primary">Rút tiền tài khoản</button>
    </nz-form-control>
  </nz-form-item>
</form>
