<form nz-form [formGroup]="validateForm">
  <div nz-row nzGutter="20">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="templateId">Giao diện</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors['templateId']">
          <nz-select formControlName="templateId" nzShowSearch>
            <ng-container *ngIf="template$ | async; let templateData">
              <nz-option *ngFor="let templateItem of templateData.data" [nzValue]="templateItem.id" [nzLabel]="templateItem.name"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

</form>
