<div [formGroup]="formGroup">

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors['password']">
      <input
        nz-input
        type="password"
        id="password"
        formControlName="password"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="passwordConfirm" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors['passwordConfirm']">
      <input nz-input type="password" formControlName="passwordConfirm" id="passwordConfirm" />
    </nz-form-control>
  </nz-form-item>
</div>
