<ng-container *ngIf="goLoginProfileInFolder$ | async as countGoLoginProfiles">
  <div class="text-center mb-3">
    <b>Số Profile trong thư mục: {{countGoLoginProfiles | number:'0.0-0'}}</b>
  </div>
  <div class="text-center mb-3">
    <button nz-button nzType="primary" (click)="import()">
      Nhập thư mục profile
    </button>
  </div>
</ng-container>
<ng-container *ngIf="goLoginProfiles$ | async as goLoginProfiles">
  <div class="mb-3 text-center">
    <b class="mr-3">Tổng profile hiện tại: {{goLoginProfiles.count | number:'0.0-0'}}</b>
    <button nz-button nzType="primary" (click)="upload()">
      Upload Zip Profile
    </button>
  </div>
  <nz-table #goLoginProfilesTable nzSize="small" [nzData]="goLoginProfiles.data" nzShowPagination="true" [nzTotal]="total" (nzPageIndexChange)="changePage($event)" [nzPageIndex]="pageIndex + 1" [nzPageSize]="pageSize" nzFrontPagination="false">
    <thead>
    <tr>

      <th>Thời gian khởi tạo</th>
      <th>Profile</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of goLoginProfilesTable.data">
      <td>{{data.createdAt | date:'dd/MM/yyyy'}}</td>
      <td>{{data.fingerprint}}</td>
    </tr>
    </tbody>
  </nz-table>

</ng-container>
