<div [formGroup]="formGroup">




  <div nz-row nzGutter="20">
    <div nz-col nzSm="10" nzXs="24" class="text-right">{{ label }}</div>
    <div nz-col nzSm="14" nzXs="24">
      <div>
        <div *ngIf="defaultValue[defaultField]" class="mb1">
          <a href="{{uploadContentImageUrl}}{{defaultValue[defaultField]}}" target="_blank">
            <img style="max-height: 100px" src="{{uploadContentImageUrl}}{{defaultValue[defaultField]}}" alt="">
          </a>
        </div>
        <input nz-input type="file" (change)="fileChangeEvent($event)" accept=".png,.jpg,.jpeg,.gif" />
        <button  *ngIf="croppedImage" nz-button nzType="primary" nzDanger nzSize="small" nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="cancelMetaImage()">Hủy</button>

      </div>
      <div class="crop-wrapper mb1 mt1">
        <div nz-row nzGutter="20">
          <div nz-col nzSpan="7">
            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="aspectRatio"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded($event)"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper></div>
          <div *ngIf="croppedImage" nz-col nzSpan="14">
            <div *ngIf="metaImageDimensions">Width: {{metaImageDimensions.width}}px / Height: {{metaImageDimensions.height}}px</div>
            <img [src]="croppedImage" />
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
