<div class="mb-2">
  <app-user-domain-filter (filter)="filter($event)"></app-user-domain-filter>
</div>
<ng-container *ngIf="category$ | async as categoryData">

  <div class="text-center mb2">
    <button nz-button nzType="primary" (click)="create()"  nz-tooltip nzTooltipTitle="Tạo domain">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </div>
  <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine>
      <nz-tree-node-toggle nzTreeNodeNoopToggle >
        <span nz-icon nzType="file" nzTheme="outline"></span>
      </nz-tree-node-toggle>
      <nz-tree-node-option *ngTemplateOutlet="nodeOption; context: {newsCategory: node}">
      </nz-tree-node-option>
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
      <nz-tree-node-toggle>
          <span
            nz-icon
            [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'"
            nzTheme="outline"
          ></span>
      </nz-tree-node-toggle>
      <nz-tree-node-option *ngTemplateOutlet="nodeOption; context: {newsCategory: node}">
      </nz-tree-node-option>
    </nz-tree-node>
  </nz-tree-view>

</ng-container>
<ng-template #nodeOption let-newsCategory="newsCategory">
  {{newsCategory.name}}
  &nbsp; - &nbsp;
  <ng-container *ngIf="newsCategory.metaImage">
    <img style="height: 30px" src="{{uploadMetaImageUrl}}{{newsCategory.metaImage}}" alt="">
    &nbsp; - &nbsp;
  </ng-container>
  <ng-container *ngIf="newsCategory.image">
    <img style="height: 30px" src="{{uploadContentImageUrl}}{{newsCategory.image}}" alt="">
    &nbsp; - &nbsp;
  </ng-container>
<!--  ID: {{newsCategory.id}}-->
<!--  &nbsp; - &nbsp;-->
<!--  Root: {{newsCategory.rootId}}-->
<!--  &nbsp; - &nbsp;-->

  <nz-switch [ngModel]="newsCategory.disabled" nzSize="small" (ngModelChange)="changeDisabled(newsCategory, !newsCategory.disabled)"></nz-switch>
  &nbsp; - &nbsp;
  <a href="{{newsCategory.url | domainUrl:newsCategory.domain}}" target="_blank" title="{{newsCategory.metaDescription}}">
    {{newsCategory.url}}
  </a>
  &nbsp; - &nbsp;
  <button nz-button nzType="primary"  nzSize="small" (click)="update(newsCategory)">Cập nhật</button>
  &nbsp; - &nbsp;
  <button nz-button nzType="primary" nzDanger nzSize="small" nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(newsCategory)">Xóa thư mục</button>
  &nbsp; - &nbsp;
  <b class="text-primary">{{newsCategory.left}}</b>
  &nbsp; - &nbsp;
  <b class="text-success">{{newsCategory.right}}</b>
    </ng-template>
